<section class="section-newsletter" id="subscire">
    <form method="POST" action="#" class="newsletter-form">
        <div class="row">
            <h2 class="bar">Subscribe to newsletter</h2>
        </div>

        <div class="row news-box">
            <div class="col span-1-of-3">
                <label for="name">Name</label>
            </div>

            <div class="col span-2-of-3">
                <input type="text" name="name" id="name" placeholder="Your name" required />
            </div>
        </div>

        <div class="row news-box">
            <div class="col span-1-of-3">
                <label for="email">Email</label>
            </div>

            <div class="col span-2-of-3">
                <input type="email" name="email" id="email" placeholder="Email" required />
            </div>
        </div>

        <div class="row news-box">
            <div class="col span-1-of-3">
                <label>&nbsp;</label>
            </div>

            <div class="col span-2-of-3">
                <input type="submit" value="Subscribe!" />
            </div>
        </div>
    </form>
</section>
