<section class="section-course" id="tutorial">
    <div class="row">
        <h2 class="bar">Amazing Pixel Art Course</h2>
    </div>

    <div class="row">
        <div class="col span-1-of-3">
            <div class="side-box">
                <img class="course-img js-animate-2" src="~/Content/Resources/Img/solider.png" alt="Solider" />
            </div>
        </div>

        <div class="col span-2-of-3">
            <div class="border-div">
                <div>
                    <h3 class="">How to get it? It's easy!</h3>
                </div>

                <div class="course-info">
                    <p>Enter the form! You will find it below! Just search for green button to start your adventure!</p>
                    <p>Describe how you start you journey with pixel art! It can be a couple of lines! Make sure it's interesting</p>
                    <p>If you story will be one of top 10, you will get the course for free! Sign up right now and win!</p>
                </div>

                <div>
                    <a class="btn btn-first" href="/tutorial">Yeah!!!</a>
                    <a class="btn btn-second" href="#">He does what?!</a>
                </div>
            </div>
        </div>
    </div>
</section>

