@model Pixel_Art_Blog.Models.AllPostsViewModel

@{
    ViewBag.Title = "AllPosts";
}

<h2>AllPosts</h2>


@foreach(var post in Model.Posts)
{
    <h2>@post.Title</h2>
}

<div>
    @Html.PageLinks(Model.Info, x => Url.Action("AllPosts", new { page = x}))
</div>