@model Pixel_Art_Blog.Models.PostViewModel
@{
    ViewBag.Title = Model.Post.Title;
}
<div class="row">
    <article>
        <h2>@Model.Post.Title</h2>

        <div class="post-container">
            <p>
                @Model.Post.Content
            </p>
        </div>

        <div class="author">
            <h4>@Model.Author</h4>
        </div>
    </article>
</div>