
<header>
    <nav>
        <div class="row">
            <ul class="main-nav js-toggle">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Posts</a>
                </li>
                <li>
                    <a href="#categories">Categories</a>
                </li>
                <li>
                    <a href="#tutorial">Tutorial</a>
                </li>
                <li>
                    <a href="#subscire">Subscribe</a>
                </li>
            </ul>
            <a class="mobile-nav-icon"><i class="ion-navicon-round"></i></a>
        </div>
    </nav>

    <div class="header-container js-waypoint">
        <h1>Wanna see my dinosaur?</h1>
        <a class="btn btn-first" href="#">Yeah!!!</a>
        <a class="btn btn-second" href="#">He does what?!</a>
    </div>
</header>

