

    <nav class="nav-second">
        <div class="row">
            <ul class="main-nav js-toggle">
                <li>
                    <a href="/index">Home</a>
                </li>
                <li>
                    <a href="/posts1">Posts</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
            <a class="mobile-nav-icon"><i class="ion-navicon-round"></i></a>
        </div>
    </nav>


